language: python

python:
    - "2.7"

env:
    - TOXENV=py27
    - TOXENV=py33
    - TOXENV=py34
    - TOXENV=py35

branches:
    only:
        - master
        - develop

install: pip install --quiet tox coveralls

script: tox

after_script:
    - coveralls
