include LICENSE
include MANIFEST.in
include CONTRIBUTORS.rst
include README.rst
include requirements.txt

recursive-include flask_collect *

recursive-exclude * __pycache__
recursive-exclude * *.py[co]
recursive-exclude * *.orig
